/* Media
=================*/

@media (max-width: 1000px) {

  .author {
    right: -170px;
  }

}

@media (max-width: 767px) {

  .page {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem;
  }

  /* Header */
  .header {
    margin-bottom: 50px;
  }

  .header-logo {
    display: none;
  }

  .header-brand {
    font-size: 1.2rem;
  }


  /* Content */
  .content {
    max-width: none;
    margin-bottom: 50px;
    text-align: center;
  }


  /* Form */
  .form {
    margin: 0 auto;
  }


  /* Footer */
  .footer {
    position: static;
  }


  /* Contacts */
  .contacts {
    flex-direction: column;
  }

  .contacts-link {
    margin-right: 0;
    margin-bottom: .5rem;
  }

  .contacts-link:last-child {
    margin-bottom: 0;
  }

  .contacts-link:last-child:after {
    display: none;
  }

  /* Author */
  .author {
    display: none;
  }
}

@media (max-width: 565px) {

  /* Header */
  .header-inner {
    flex-direction: column;
  }

  .header-brand {
    margin-bottom: 1rem;
  }
}


@media (max-width: 320px) {
  .subtitle {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.6rem;
  }
}